egov/egov-egfweb/src/main/webapp/WEB-INF/wsdl/VoucherCreationService.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions name="VoucherCreationService" targetNamespace="http://com.exilant.eGov.src.transactions.webservice/vouchercreation" xmlns:tns="http://com.exilant.eGov.src.transactions.webservice/vouchercreation" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns2="http://com.exilant.eGov.src.transactions.webservice/vouchercreation/types" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <schema targetNamespace="http://com.exilant.eGov.src.transactions.webservice/vouchercreation/types" xmlns:tns="http://com.exilant.eGov.src.transactions.webservice/vouchercreation/types" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <complexType name="createVouchers">
        <sequence>
          <element name="Voucher_1" type="tns:Voucher" nillable="true"/></sequence></complexType>
      <complexType name="Voucher">
        <sequence>
          <element name="generalLedgerEnteries" type="tns:GeneralLedgerEnteries" nillable="true"/>
          <element name="misDataCollection" type="tns:MisDataCollection" nillable="true"/>
          <element name="voucherheader" type="tns:Voucherheader" nillable="true"/></sequence></complexType>
      <complexType name="GeneralLedgerEnteries">
        <sequence>
          <element name="generalLedgerPosting" type="tns:GeneralLedgerPosting" nillable="true" minOccurs="0" maxOccurs="unbounded"/></sequence></complexType>
      <complexType name="GeneralLedgerPosting">
        <sequence>
          <element name="cess" type="double" nillable="true"/>
          <element name="credit" type="double"/>
          <element name="debit" type="double"/>
          <element name="function" type="int"/>
          <element name="glDetailEntry" type="tns:GlDetailEntry" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <element name="glcode" type="string" nillable="true"/>
          <element name="narration" type="string" nillable="true"/></sequence></complexType>
      <complexType name="GlDetailEntry">
        <sequence>
          <element name="detailKeyAmount" type="int" nillable="true"/>
          <element name="detailKeyId" type="int" nillable="true"/>
          <element name="detailGlcode" type="int" nillable="true"/>
          <element name="detailTypeId" type="int" nillable="true"/></sequence></complexType>
      <complexType name="MisDataCollection">
        <sequence>
          <element name="docDate" type="string" nillable="true"/>
          <element name="docNumber" type="string" nillable="true"/>
          <element name="misData" type="tns:MisData" nillable="true"/>
          <element name="mode" type="tns:Mode" nillable="true"/>
          <element name="paidBy" type="string" nillable="true"/>
          <element name="paidTo" type="string" nillable="true"/>
          <element name="refDate" type="string" nillable="true"/>
          <element name="receiptNo" type="string" nillable="true"/>
          <element name="counter" type="string" nillable="true"/>
          <element name="location" type="string" nillable="true"/>
          <element name="refNo" type="string" nillable="true"/>
          <element name="manualReceiptNo" type="string" nillable="true"/></sequence></complexType>
      <complexType name="MisData">
        <sequence>
          <element name="agent" type="string" nillable="true"/>
          <element name="boundary" type="int" nillable="true"/>
          <element name="costcentre" type="int" nillable="true"/>
          <element name="department" type="int" nillable="true"/>
          <element name="field" type="int" nillable="true"/>
          <element name="fundSource" type="int" nillable="true"/>
          <element name="subSegment" type="int" nillable="true"/>
          <element name="scheme" type="int" nillable="true"/></sequence></complexType>
      <complexType name="Mode">
        <sequence>
          <element name="amount" type="double"/>
          <element name="bankAccountId" type="int"/>
          <element name="instruments" type="tns:Instruments" nillable="true"/>
          <element name="type" type="int"/></sequence></complexType>
      <complexType name="Instruments">
        <sequence>
          <element name="instrument" type="tns:Instrument" nillable="true" minOccurs="0" maxOccurs="unbounded"/></sequence></complexType>
      <complexType name="Instrument">
        <sequence>
          <element name="bankname" type="string" nillable="true"/>
          <element name="instrumentamount" type="double"/>
          <element name="instrumentdate" type="string" nillable="true"/>
          <element name="instrumentnumber" type="string" nillable="true"/>
          <element name="instrumenttype" type="string" nillable="true"/>
          <element name="instrumentstatus" type="string" nillable="true"/>
          <element name="bankId" type="string" nillable="true"/>
	  <element name="instrumentdetailKeyId" type="integer" nillable="true"/>
          <element name="instrumentdetailTypeId" type="integer" nillable="true"/>
       </sequence></complexType>
      <complexType name="Voucherheader">
        <sequence>
          <element name="cancelVoucher" type="string" nillable="true"/>
          <element name="cgn" type="string" nillable="true"/>
          <element name="cgvn" type="string" nillable="true"/>
          <element name="description" type="string" nillable="true"/>
          <element name="fund" type="int"/>
          <element name="moduleId" type="int"/>
          <element name="name" type="string" nillable="true"/>
          <element name="oldVoucherNumber" type="string" nillable="true"/>
          <element name="oldVoucherId" type="string" nillable="true"/>
          <element name="recordid" type="string" nillable="true"/>
          <element name="refCgn" type="string" nillable="true"/>
          <element name="type" type="string" nillable="true"/>
          <element name="url" type="string" nillable="true"/>
          <element name="userId" type="int" nillable="true"/>
          <element name="voucherHeaderId" type="string" nillable="true"/>
          <element name="voucherdate" type="string" nillable="true"/>
          <element name="vouchernumber" type="string" nillable="true"/></sequence></complexType>
      <complexType name="createVouchersResponse">
        <sequence>
          <element name="result" type="tns:Glresponse" nillable="true"/></sequence></complexType>
      <complexType name="Glresponse">
        <sequence>
          <element name="voucherResponse" type="tns:VoucherResponse" nillable="true"/></sequence></complexType>
      <complexType name="VoucherResponse">
        <sequence>
          <element name="isSuccessFull" type="boolean"/>
          <element name="message" type="string" nillable="true"/>
          <element name="recordid" type="string" nillable="true"/>
          <element name="url" type="string" nillable="true"/>
          <element name="voucherdate" type="string" nillable="true"/>
          <element name="vouchernum" type="string" nillable="true"/></sequence></complexType>
      <element name="createVouchers" type="tns:createVouchers"/>
      <element name="createVouchersResponse" type="tns:createVouchersResponse"/></schema></types>
  <message name="VoucherCreation_createVouchers">
    <part name="parameters" element="ns2:createVouchers"/></message>
  <message name="VoucherCreation_createVouchersResponse">
    <part name="result" element="ns2:createVouchersResponse"/></message>
  <portType name="VoucherCreation">
    <operation name="createVouchers">
      <input message="tns:VoucherCreation_createVouchers"/>
      <output message="tns:VoucherCreation_createVouchersResponse"/></operation></portType>
  <binding name="VoucherCreationBinding" type="tns:VoucherCreation">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="createVouchers">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/></input>
      <output>
        <soap:body use="literal"/></output></operation></binding>
  <service name="VoucherCreationService">
    <port name="VoucherCreationPort" binding="tns:VoucherCreationBinding">
      <soap:address location="http://172.16.100.19:8480/EGF/VoucherCreation"/></port></service></definitions>
